{% extends 'customers/index.html' %}
{% block title %}
<title>Login</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='customer_styles.css') }}">
{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
<p>
    <h3>Login</h3>
</p>
<div class="customer-login">
  <form method="POST" action="{{ url_for('customers.login') }}">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <div>
      <label for="email">Username:</label>
      <input id="email" name="email" required type="text" value="">
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" name="password" required type="password" value="">
    </div>
    <button type="submit" class="btn btn-primary submit-button">Login</button>
    {% if form.errors %}
      <ul class="errors">
        {% for field, errors in form.errors.items() %}
          {% for error in errors %}
            <li>{{ field }}: {{ error }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    {% endif %}
  </form>
</div>
{% endblock %}
