{% extends 'customers/index.html' %}
{% block title %}
  <title>{{ current_user.username.title() }}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='customer_styles.css') }}">
{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
  <p>
    {% if "administrator" in current_user.roles %}
      <h3>{{ current_user.username.title() }}'s view of customer: {{ device }}.</h3>
    {% else %}
      <h3>{{ current_user.username.title() }}'s profile.</h3>
    {% endif %}
  </p>
  <div class="customer-profile">
    {% if device or ("administrator" in current_user.roles) %}
      {% if device %}
        <p><h5>Device: </h5>{{ device }}</p>
        <p><h5>Country: </h5>{{ country }} </p>
      {% endif %}
      <h5>
        Select software version:
        <h6>
          {# Change username=current_user.username to username=username #}
          {# This allows admin to behave as customers and download any available software #}
          <form action="{{ url_for('customers.profile', username=username) }}" method="POST">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <select name="release_version">
            {% for release in releases %}
              <option value="{{ release.version }}">{{ release.version }}</option>
            {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary" style="padding: 5px 10px; font-size: 12px;">Download</button>
          </form>
        </h6>
      </h5>
      {% if "administrator" in current_user.roles %}
        <a href="{{ url_for('device_admin.selected_device_name', device_name=device.name) }}">Back to the device search</a>
      {% endif %}
    {% else %}
      <p>No device associated with this user.</p>
    {% endif %}
  </div>
{% endblock %}
