{% extends 'home/index.html' %}
{% block title %}
<title>{{ current_user.username.title() }}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='customer_styles.css') }}">
{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
  <p>
    <h3>{{ current_user.username.title() }}'s profile.</h3>
  </p>
    <div class="customer-profile">
      {% if device %}
        <p><h5>Device: </h5>{{ device }}</p>
        <p><h5>Country: </h5>{{ country }} </p> 
        <form action="{{ url_for('customers.download_release', rel_path=rel_path) }}" method="post">
          <h5>
            Select software version:
            <h6>
              <select name="release" id="releaseSelect">
              {% for release in releases %}
                <option value="{{ release.id }}">{{ release }}</option>
              {% endfor %}
              </select>
              <span style="margin-right: 10px;"></span>
              <button type="submit" class="btn btn-sm btn-primary submit-button" id="downloadButton">Download</button>
            </h6>
          </h5>
        </form>
      {% else %}
        <p>No device associated with this user.</p>
      {% endif %}
  </div>
{% endblock %}