{% extends 'home/index.html' %}
{% block title %}
<title>{{ current_user.username.title() }}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='customer_styles.css') }}">
{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
  <p>
    <h3>{{ current_user.username.title() }}'s profile.</h3>
  </p>
    <div class="customer-profile">
      {% if device %}
        <p><h5>Device: </h5>{{ device }}</p>
        <p><h5>Country: </h5>{{ country }} </p> 
        <h5>
          Select software version:
          <h6>
            <select name="release">
            {% for release in releases %}
              <option value="{{ release.id }}">{{ release }}</option>
            {% endfor %}
            </select>
          </h6>
        </h5>
      {% else %}
        <p>No device associated with this user.</p>
      {% endif %}
  </div>
{% endblock %}