{% extends 'admin/master.html' %}

{% block body %}
{{ super() }}
<div class="container">
    <div>
        <h1>Register</h1>
        <div class="well">
            <form action="{{ url_for_security('register_user') }}" method="POST" name="form">
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}
            
                {{ form.username() }}
                <br/>
                {% for error in form.username.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            
                {{ form.password() }}
                <br/>
                {% for error in form.password.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            
                {{ form.password_2() }}
                <br/>
            
                {{ form.device() }}
                <br/>
      
                <label for="active">Active</label>{{ form.active() }}
                <br/>
            
                {{ form.role() }}
                <br/>
            
                {{ form.submit() }}
            </form>
        </div>
    </div>
</div>
{% endblock body %}