<!DOCTYPE html>
<html>
  <head>
    <title>Admin - Register</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link
      href="/admin/static/bootstrap/bootstrap2/swatch/default/bootstrap.min.css?v=2.3.2"
      rel="stylesheet"
    />
    <link
      href="/admin/static/bootstrap/bootstrap2/css/bootstrap-responsive.css?v=2.3.2"
      rel="stylesheet"
    />
    <link
      href="/admin/static/admin/css/bootstrap2/admin.css?v=1.1.1"
      rel="stylesheet"
    />

    <style>
      body {
        padding-top: 4px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="/admin">Admin</a>
          <ul class="nav">
            <li class="active">
              <a href="/admin/">Home</a>
            </li>
            <li>
              <a href="/admin/user/">User</a>
            </li>
          </ul>
          <ul class="nav pull-right"></ul>
        </div>
      </div>
      <p>Register here:</p>
      <form method="POST" action="{{ url_for('register') }}">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        {{ form.username() }}
        <br/>
        {{ form.email() }}
        <br/>
        {{ form.password() }}
        <br/>
        {{ form.password_2() }}
        <br/>
        {{ form.role() }}
        <br/>
        {{ form.submit() }}
      </form>
      {% for error in form.username.errors %}
      <p class="error">{{ error }}</p>
      {% endfor %}
    </div>
    <script
      src="/admin/static/vendor/jquery.min.js?v=3.5.1"
      type="text/javascript"
    ></script>
    <script
      src="/admin/static/bootstrap/bootstrap2/js/bootstrap.min.js?v=2.3.2"
      type="text/javascript"
    ></script>
    <script
      src="/admin/static/vendor/moment.min.js?v=2.22.2"
      type="text/javascript"
    ></script>
    <script
      src="/admin/static/vendor/select2/select2.min.js?v=3.5.2"
      type="text/javascript"
    ></script>
  </body>
</html>
