{% extends 'base.html' %}
{% block title %}
<title>Login</title>
{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
<p>
    Please, insert your username and password:
</p>
<form method="POST" action="{{ url_for('login_customer') }}">
  {{ form.csrf_token }}
  {{ form.hidden_tag() }}
  {{ form.email() }}
  <br>
  {{ form.password() }}
  <br>
  {{ form.submit() }}

  {% if form.errors %}
  <ul class="errors">
    {% for field, errors in form.errors.items() %}
      {% for error in errors %}
        <li>{{ field }}: {{ error }}</li>
      {% endfor %}
    {% endfor %}
    </ul>
  {% endif %}
</form>
{% endblock %}