.student-home,
.student-login,
.student-profile {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #e9ecef;
  padding: 20px;
  border-radius: 10px;
}

.student-login form {
  display: flex;
  flex-direction: column;
}

.student-login label {
  width: 100px;
}

.student-login input {
  margin-bottom: 10px;
}

.student-login button {
  margin-top: 10px;
  width: 100px; /* Set button width to auto */
}