{% extends 'students/index.html' %}
{% block title %}
<title>Homepage</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='customer_styles.css') }}">
{% endblock %}
{% block content %}
    <p>
      {% if current_user.is_authenticated %}
        <h3>Welcome, {{ current_user.username.title()}}!</h3>
      {% else %}
        <h3>Welcome to Your Company!</h3>
    </p>
      <div class="student-home">
        <h4>Please, <a href="{{ url_for('students.login') }}">log in!</h4>
        </div>   
    {% endif %}
{% endblock %}