{% extends 'students/index.html' %}
{% block title %}
  <title>{{ current_user.username.title() }}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='courses_styles.css') }}">
{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
  <p>
    <h3>{{ current_user.username.title() }}'s profile.</h3>
  </p>
  <div class="student-profile">
    {% if not courses %}
      <p>No course associated with this user.</p>
    {% else %}
      {% if "student" in current_user.roles %}
        <div class="search-box">
          <h3>{{ _fsdomain('Download a file') }}</h3>
          <form method="POST" enctype="multipart/form-data">
            {{ download_form.csrf_token }} {{ download_form.hidden_tag() }}
            <div class="form-group">
              <div class="label-field">
                <label style="float: left">Course:</label>
                <span>
                  <select name="course">
                    {% for choice_value in download_form.course.choices %}
                      <option value="{{ choice_value[0] }}">{{ choice_value[1] }}</option>
                    {% endfor %}
                  </select>
                </span>
              </div>
            </div>
            {{ download_form.select }}
            <div style="margin-bottom: 30px;"></div>
            <div class="form-group">
              <div class="label-field">
                <label style="float: left">Exercise:</label>
                <span>
                  <select name="exercise">
                    {% for choice_value in download_form.exercise.choices %}
                      <option value="{{ choice_value[0] }}">{{ choice_value[1] }}</option>
                    {% endfor %}
                  </select>
                </span>
              </div>
            </div>
            {{ download_form.submit }}
          </form>
        </div>
        
        <div style="clear: both"></div>      
    {% endif %}
      {% if "teacher" in current_user.roles %}
      <div class="search-box">
        <h3>{{ _fsdomain('Upload a file') }}</h3>
        <form method='POST' enctype='multipart/form-data'>
          {{ upload_form.csrf_token }} {{ upload_form.hidden_tag() }}
          <div class="form-group">
            <div class="label-field">
              <label style="float: left">Course:</label>
              <span>
                <select name="courses">
                  {% for choice_value in upload_form.courses.choices %}
                    <option value="{{ choice_value[0] }}">{{ choice_value[1] }}</option>
                  {% endfor %}
                </select>
              </span>
            </div>
          </div>
          {{ upload_form.select }}
          <div style="margin-bottom: 30px;"></div>
          <div class="form-group">
            <div class="label-field">
              <label style="float:left;">Exercise:</label>
              <span style="float:right;">{{ upload_form.exercise }}</span>
            </div>
          </div>
          {{ upload_form.submit }}
        </form>
      </div>
    {% endif %}
  {% endif %}  
  </div>
{% endblock %}