{% extends "admin/courses_base.html" %}
{% block table %}
<h2>Filtered course</h2>
<table class="course-table" border="3" bordercolor="#ffffff">
  <thead>
    <tr>
      <th>Student's name </th>
      <th>Available exercises</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {# Display the course name #}
      <td> {{ courses[0].name }} </td>
      <td>
        {# Get all exercises for the course #}
        {% set exercises = all_exercises[courses[0]] %}
        {# Iterate over each exercise #}
        {% for exercise in exercises %}
          {# Create a link for each exercise pointing to selected_exercise view #}
          <a href="{{ url_for('course_admin.selected_exercise', selected_exercise=exercise) }}">{{ exercise }}</a>
          {# Add a comma after each exercise except the last one #}
          {% if not loop.last %}, {% endif %}
        {% endfor %}
      </td>
    </tr>
  </tbody>
</table>
{% endblock table %}
