{% extends "admin/courses_base.html" %}
{% block table %}
<h2>Filtered course</h2>
<table class="course-table" border="3" bordercolor="#ffffff">
  <thead>
    <tr>
      <th>Student's name </th>
      <th>Enrolled students</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {# Display the course name #}
      <td> {{ courses[0].name }} </td>
      <td>
        {# Get all enrolled students for the course #}
        {% set users = all_users[courses[0]] %}
        {# Iterate over each student #}
        {% for user in users %}
          {# Create a link for each student pointing to selected_user view #}
          <a href="{{ url_for('course_admin.selected_user', selected_user=user) }}">{{ user }}</a>
          {# Add a comma after each student except the last one #}
          {% if not loop.last %}, {% endif %}
        {% endfor %}
      </td>
    </tr>
  </tbody>
</table>
{% endblock table %}
