{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_form_errors %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='devices_styles.css') }}">
{% endblock head %}

{% block content %}
{% include "security/_messages.html" %}
<div class="search-box">
  <h2>{{ _fsdomain('Search for a device') }}</h2>
  <form action="{{ url_for('admin_pages.devices_default_table') }}" method="POST">
    {{ form.hidden_tag() }}
    {{ render_form_errors(form) }}
    <div class="form-group">
      <h3>{{ render_field_with_errors(form.major_version) }}</h3>
    </div>
    <div class="form-group">
      <h3>{{ render_field_with_errors(form.device_name) }}</h3>
    </div>
    {{ render_field(form.submit) }}
  </form>
</div>

<div style="clear:both;"></div> <!-- Add this to clear the float -->

<h2>Filtered releases</h2>
<table class="release-table" border="3" bordercolor="#ffffff">
  <thead>
    <tr>
      <th></th>
      <!-- This loop renders the headers of the table -->
      {% for release in all_releases %}
        <th class="rotated-header">{{ release }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for device in devices_in_rows %}
      <tr>
        <td>{{ device.name }}</td>
        {% for release in all_releases %} {% if release in device_versions[device]%}
          <td>*</td>
        {% else %}
          <td></td>
        {% endif %} {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
<br />
{% include "security/_menu.html" %}
{% endblock %}
