{% extends "admin/courses_base.html" %}

{% block table %}
<h2>Filtered students</h2>
<table class="students-table" border="3" bordercolor="#ffffff">
  <thead>
    <tr>
      <th></th>
      <!-- This loop renders the headers of the table -->
      {% for release in releases %}
        {% if release == selected_exercise %}
          <th class="rotated-header highlight-column" style="font-weight:bold">
            <div><span><a href="{{ url_for('course_admin.selected_exercise', selected_exercise=release) }}">{{ release }}</a></span></div>
          </th>
          {% else %}
          {% if release != "..." %}
            <th class="rotated-header">
              <div><span><a href="{{ url_for('course_admin.selected_exercise', selected_exercise=release) }}">{{ release }}</a></span></div>
            </th>
          {% else %}
            <th class="rotated-header">
              <div><span>...</span></div>
            </th>
          {% endif %}
        {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for course in courses_in_rows %}
      <tr>
        <td><a href="{{ url_for('course_admin.selected_course_name', course_name=course.name) }}">{{ course.name }}</a></td>
        {% for release in releases %}
          {% if release == selected_exercise %}
            <td class="highlight-column" style="font-weight:bold">
              {% if release in all_exercise_numbers[course]%}
                *
              {% endif %}</td>
          {% else %}
            <td>
              {% if release in all_exercise_numbers[course]%}
                *
              {% endif %}
            </td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock table %}
