{% extends "admin/devices_base.html" %}
  {% block table %}
  <h2>Table of devices and releases</h2>
  <table class="default-table" border="3" bordercolor="#ffffff">
    <thead>
      <tr>
        <th></th>
        <!-- This loop renders the headers of the table -->
        {% for major_version, releases in release_versions.items() %}
            {% for release in releases %}
              <th class="rotated-header">{{ release }}</th>
            {% endfor %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for device in all_devices %}
        <tr>
          <td>{{ device.name }}</td>
          <!-- This loop renders the content of the table -->
          {% for major_version, releases in release_versions.items() %}
            {% for release in releases %}
              {% if release in all_device_versions[device] %}
                <td>*</td>
              {% else %}
                <td></td>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock table %}