{% extends "admin/devices_base.html" %}
{% block table %}
<h2>Filtered device</h2>
<table class="device-table" border="3" bordercolor="#ffffff">
  <thead>
    <tr>
      <th>Student profile</th>
      <th>Available releases</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {# Display the device name #}
      <td><a href="{{ url_for('students.profile', username=devices[0].name) }}">{{ devices[0].name }}</a></td>
      <td>
        {# Get all releases for the device #}
        {% set releases = all_device_versions[devices[0]] %}
        {# Iterate over each release #}
        {% for release in releases %}
          {# Create a link for each release pointing to selected_release_version view #}
          <a href="{{ url_for('device_admin.selected_release_version', selected_release_version=release) }}">{{ release }}</a>
          {# Add a comma after each release except the last one #}
          {% if not loop.last %}, {% endif %}
        {% endfor %}
      </td>
    </tr>
  </tbody>
</table>
{% endblock table %}
