{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_form_errors %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock head %}

{% block content %}
  {% include "security/_messages.html" %}
  <div style="float: left;">
    <h2>{{ _fsdomain('Search for a device') }}</h2>
    <form action="{{ url_for('admin_pages.device_filter') }}" method="POST">
      {{ form.hidden_tag() }}
      {{ render_form_errors(form) }}
      <h3>{{ render_field_with_errors(form.device_name) }}</h3>
      <h3>{{ render_field_with_errors(form.release_number) }}</h3>
      {{ render_field(form.submit) }}
    </form>
  </div>

  <div style="clear:both;"></div>  <!-- Add this to clear the float -->
  
  <h2>Table of devices and releases</h2>
  <table class="default-table" border="3" bordercolor="#ffffff">
    <thead>
      <tr>
        <th></th>
        {% for major_version, releases in release_versions.items() %}
            {% for release in releases %}
              <th class="rotated-header">{{ release }}</th>
            {% endfor %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for device in devices %}
      <tr>
        <td>{{ device.name }}</td>
        {% for major_version, releases in release_versions.items() %}
            {% for release in releases %}
                {% if release in device_versions[device] %}
                    <td>*</td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "security/_menu.html" %}
{% endblock content %}
