{% extends "admin/devices_base.html" %}
  {% block table %}
  <h2>Filtered device</h2>
  <table class="device-table" border="3" bordercolor="#ffffff">
    <thead>
      <tr>
        <th>Device</th>
        <th>Releases</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ devices[0].name }}</td>
        <td>
          {% set releases_string = all_device_versions[devices[0]]|join(', ') %}
          {{ releases_string }}
        </td>
      </tr>
    </tbody>
  </table>
  {% endblock table %}
