{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_form_errors %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='devices_styles.css') }}">
{% endblock head %}

{% block content %}
{% include "security/_messages.html" %}
<div class="search-box">
  <h2>{{ _fsdomain('Upload a file') }}</h2>
  <form method='POST' enctype='multipart/form-data'>
    {{ upload_form.hidden_tag() }}
    {{ render_form_errors(upload_form) }}
    <div class="form-group">
      <h3>{{ render_field_with_errors(upload_form.device) }}</h3>
    </div>
    <div class="form-group">
      <h3>{{ render_field_with_errors(upload_form.version) }}</h3>
    </div>
      {{ render_field(upload_form.submit) }}
  </form>
</div>

<div style="clear:both;"></div> <!-- Add this to clear the float -->
<br>
{% include "security/_menu.html" %}
{% endblock content %}
